body {
    background-color: black;
}

#rainbow-text {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

#body-text-color {
    color: greenyellow;
}

#hourglass {
    height: 50px;
    width: 50px;
}